<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Popular R packages for Data Science
* Introduction to Jupyter Notebooks

## Author
##### Min Edwards

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

#### Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. NumPy
3. Pandas

|Data Science Tools |
|:----------------- |
|Apache Spark       |
|TensorFlow         |
|Apache Kafka       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

[1] 17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

[1] 3.333333